<div class="page-header">
    <h1>
        Timer
        <small>All the things you get</small>
    </h1>
</div>
<table class="zebra-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th style="width: 100px;">Airday</th>
            <th style="width: 100px;">Airtime</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <% if (timers.length) {
        timers.forEach(function (timer, i) {
            var timerDate = timer.day.split("-");
            var date = new Date(timer.day);
        
            var weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
        
            timer.start.length;
            if (timer.start.toString().length == 3) {
                timer.start = '0' + timer.start.toString().substr(0,1) + ':' + timer.start.toString().substr(1,3);
            }
            
            if (timer.start.toString().length == 2) {
                timer.start = '0' + timer.start.toString().substr(0,1) + ':0' + timer.start.toString().substr(1,2);
            }
            
            if (timer.start.toString().length == 4) {
                timer.start = timer.start.toString().substr(0,2) + ':' + timer.start.toString().substr(2,4);
            }
            
            if (timer.stop.toString().length == 3) {
                timer.stop = '0' + timer.stop.toString().substr(0,1) + ':' + timer.stop.toString().substr(1,3);
            }
            
            if (timer.stop.toString().length == 2) {
                timer.stop = '0' + timer.stop.toString().substr(0,1) + ':0' + timer.stop.toString().substr(1,2);
            }
            
            if (timer.stop.toString().length == 4) {
                timer.stop = timer.stop.toString().substr(0,2) + ':' + timer.stop.toString().substr(2,4);
            }
        %>
        <tr>
            <td style="width: 20px; text-align: center;"><img src="/img/tango/16x16/actions/process-stop.png" width="16px" height="16px" title="Disable this timer" /></td>
            <td><%= timerDate[2] %>.<%= timerDate[1] %> <%= weekday[date.getDay()] %></td>
            <td><%= timer.start %> - <%= timer.stop %></td>
            <td><%= timer.filename %></td>
        </tr>
        <% })
        }%>
    </tbody>
</table>