<div>
    <p>
        <&= event.get('description') &>
    </p>
    
    <& if (event.get('crew') != null) { &>
    <h5>Crew</h5>
    <p>
        <& if (event.get('actors').length > 3) { &>
        <a style="cursor: pointer;" class="showDetails" data-view="cast">Show all</a>
        <& } &>
        
        <table>
        <& _.each(event.get('crew'), function (director, index) { 
            if (index > 2) {
                return;
            }
        &>
            <tr>
                <td><&= director.job &>:</td>
                <td><a style="cursor: pointer;" class="showDetails" data-view="person" data-personId="<&= director.id &>"><&= director.name &></a></td>
            </tr>
        <& }); &>
        </table>
    </p>
    <& } &>
    
    <& if (event.get('actors').length != 0) { &>
    <h5>Actors</h5>
    <p>
        <& if (event.get('actors').length > 3) { &>
        <a style="cursor: pointer;" class="showDetails" data-view="cast">Show all</a>
        <& } &>
    
        <& _.each(event.get('actors'), function (actor, index) {
        if (index > 3) {
            return;
        } &>
    
        <div class="castItem" style="width: 290px; float: left; padding: 6px 0 0 0; display: block;">
            <span class="image" style="float: left; padding: 0 20px 12px 0; width: 45px; height: 61px; overflow: hidden;">
                <a style="cursor: pointer;" class="showDetails" data-view="person" data-personId="<&= actor._id &>">
                    <& if (actor.tmdbId != null && actor.tmdbId.profile != null && actor.tmdbId.profile.length != 0) { &>
                    <img src="<&= actor.tmdbId.profile[0].image.url &>" width="45">
                    <& } else { &>
                    <img src="http://placehold.it/45x55&text=No+Photo" width="45">
                    <& } &>
                </a>
            </span>
            <span class="text" style="float: left;">
                <a style="cursor: pointer;" class="showDetails" data-view="person" data-personId="<&= actor._id &>"><&= actor.name &></a><br>
                as <&= actor.character &>
            </span>
        </div>
        <& }); &>
    </p>
    <& } &>
</div>