<ul>
    <li class="<% if (global.page == 'timeline') { %>active<% } %>">
        <a href="/timeline">Timeline</a>
    </li>

    <li class="<% if (global.page == 'program') { %>active<% } %>">
        <a href="/program">Program</a>
    </li>

    <li class="<% if (global.page == 'timer') { %>active<% } %>">
        <a href="/timer">Timer</a>
    </li>

    <li class="<% if (global.page == 'search') { %>active<% } %>">
        <a href="/search">Search</a>
    </li>

    <li class="<% if (global.page == 'records') { %>active<% } %>">
        <a href="/records">Records</a>
    </li>
</ul>
