<div class="page-header" id="header_div" title="GUIA // <%= __('TV Guide') %>">
    <h1><%- __('TV Guide <small>What\'s up today ..</small>') %></h1>
</div>
<div class="row">
    <div class="span14">
        <table>
            <tr>
                <td style="text-align: right; width: 10px;">
                    &nbsp;
                </td>
                <& events.forEach(function (channel) { &>
                <td style="width: 270px;">
                    <div style="text-align: center;">
                        <img src="/logo/<&= channel.get('channel_name') &>" title="<&= channel.get('channel_name') &>" style="width: 140px;" class="thumbnail" />
                    </div>

                    <div>
                        <u><&= channel.get('primetime').category &></u><br />
                        <span class="label important"><&= channel.get('primetime').start_time &></span> <strong><&= channel.get('primetime').title &></strong>
                    </div>
                </td>
                <& }); &>
            </tr>

            <& for (var i = 5; i < 30; i++) { &>
            <& if (i >= 24) { x = i - 24 } else { x = i }&>
            <tr>
                <td style="text-align: right; width: 10px;">
                    <&= x &>
                </td>

                <& events.forEach(function (channel) { &>
                    <& if (!_.isArray(channel.get('events')[x])) { &>
                    <td>
                        &nbsp;
                    </td>
                    <& } else { &>
                    <td>
                        <& _.each(channel.get('events')[x], function (event) { &>
                        <div>
                            <&= event.title &>
                        </div>
                        <& }); &>
                    </td>
                    <& } &>
                <& }); &>
            </tr>
            <& } &>
        </table>
    </div>
</div>