<div class="page-header" id="header_div" title="GUIA // <%= __('TV Guide') %>">
    <div style="float: right;"><button class="btn selectChannels">Select channels</button></div>
    <h1><%- __('TV Guide <small>What\'s up today ..</small>') %></h1>
</div>
<div class="row">
    <div class="span14">
        <div class="pagination" style="margin-top: -5px;">
            <ul>
                <& d = new XDate(); &>

                <li class="<&= (active == d.toString('dd.MM.yyyy')) ? 'active' : '' &>">
                    <a href="#/TVGuide/<&= d.toString('dd.MM.yyyy') &>/<&= page &>"><&= d.toString('dd.MM') &></a>
                </li>

                <& for(i = 0; i < 12; i++) { &>
                <li class="<&= (active == d.addDays(1).toString('dd.MM.yyyy')) ? 'active' : '' &>">
                    <a href="#/TVGuide/<&= d.toString('dd.MM.yyyy') &>/<&= page &>" style="width: 34.08px;"><&= d.toString('dd.MM') &></a>
                </li>
                <& } &>
            </ul>
        </div>
        <table class="zebra-striped">
            <tr>
                <& events.forEach(function (channel) { &>
                <td style="width: 205px">
                    <div style="text-align: center; background-position: right; background-image: url('/logo/<&= channel.get('channel_name') &>'); background-repeat: no-repeat; background-size: 64px 36px; height: 36px;">
                        <h3 style="float: left;"><&= channel.get('channel_name') &></h3>
                    </div>
                </td>
                <& }); &>
            </tr>

            <tbody class="section_prime">
            <tr>
                <& events.forEach(function (channel) { &>
                <& if (channel.has('primetime')) { &>
                <td style="background-color: #ffffcc; padding: 0px; cursor: pointer; width: 205px;" _id="<&= channel.get('primetime').event._id &>">
                    <div style="background-color: #0064cd; text-align: center; color: #ffffff;" class="eventDetails isPrime">
                        <strong><&= channel.get('primetime').event.category &></strong>
                    </div>

                    <div style=" max-height: 263px; overflow: hidden;" class="eventDetails isPrime">
                        <div>
                            <span class="label important"><&= channel.get('primetime').event.start_time &></span> <strong><&= channel.get('primetime').event.title &></strong>
                        </div>
                        <& if (channel.get('primetime').image) { &>
                        <div style="width: 205px; height: 100px; background: url(<&= channel.get('primetime').image &>) center no-repeat;">

                        </div>
                        <& } &>
                        <div>
                            <&= channel.get('primetime').description &>
                        </div>
                    </div>
                </td>
                <& } &>
                <& }); &>
            </tr>

            <& var dayPlus = 0; &>
            <& for (var i = 5; i < 29; i++) { &>
            <& if (i >= 24) { x = i - 24; dayPlus = 1 } else { x = i; }&>

            <& if (x == 5 || x == 12 || x == 18 || x == 20 || x == 0) { &>
            </tbody>
            <tr>
                <td colspan="4" style="background-color: #0064cd; font-weight: bold; color: #ffffff; text-align: center; cursor: pointer;" class="slideUp <&= (x == 5 || x == 12 || x == 18 || x == 0) ? 'sectionHidden' : '' &>" section="<&= x &>">
                    <& if (x == 5) { &>
                        <%- __('Morning program - 5.00 to 12.00 o\'clock') %>
                    <& } &>
                    
                    <& if (x == 12) { &>
                        <%- __('Afternoon program - 12.00 to 18.00 o\'clock') %>
                    <& } &>
                    
                    <& if (x == 18) { &>
                        <%- __('Early evening program - 18.00 to 20.00 o\'clock') %>
                    <& } &>
                    
                    <& if (x == 20) { &>
                        <%- __('Evening program - 20.00 to 0.00 o\'clock') %>
                    <& } &>
                    
                    <& if (x == 0) { &>
                        <%- __('Night program - 0.00 to 5.00 o\'clock') %>
                    <& } &>
                </td>
            </tr>
            <tbody class="section_<&= x &>" style="<&= (x == 5 || x == 12 || x == 18 || x == 0) ? 'display: none;' : '' &>">
            <& } &>
            <tr>
                <& events.forEach(function (channel) { &>
                    <& for (var k in channel.get('events')) { &>
                        <& var day = k.match(/(.*?):/); day = parseInt(day[1]); &>
                        <& break; &>
                    <& } &>

                    <& if (!_.isArray(channel.get('events')[(day  + dayPlus) + ':' + x])) { &>
                    <td  style="width: 205px;">
                        &nbsp;
                    </td>
                    <& } else { &>
                    <td  style="width: 205px;">
                        <& _.each(channel.get('events')[(day  + dayPlus) + ':' + x], function (event) { &>
                        <& if (typeof(event._id) != 'undefined') { &>
                        <div style="clear: left;">
                            <div style="cursor: pointer;" class="eventDetails" _id="<&= event._id &>" data-content="<div style='float: left; width: 20px; cursor: pointer;' class='record' _id='<&= event._id &>'><img timer_active='<&= event.timer_active &>' src='/icons/devine/black/16x16/Circle<&= (event.timer_active) ? '-2' : '' &>.png' alt='Record' title='Record' style='cursor: pointer;' /></div><&= event.short_description.replace(/"/g, "&quot;") &><div style='clear: left;'></div>" data-original-title="<&= event.title.replace(/"/g, "&quot;") &>">
                                <&= event.start_time &> <strong><&= event.title &></strong>
                            </div>
                        </div>
                        <& } &>
                        <& }); &>
                    </td>
                    <& } &>
                <& }); &>
            </tr>
            <& } &>
            </tbod>
        </table>
    </div>
</div>

<div class="modal hide fade" id="selectChannelsDialog">
    <div class="modal-header">
        <a class="close" href="#">×</a>
        <h3><%= __('Select channels for the TVGuide') %></h3>
    </div>
    <div class="modal-body" style="overflow-y: scroll; height: 200px; text-align: center;">
        <ul class="media-grid" style="margin-left: 30px;">
            <& channels.forEach(function (channel, index) { &>
            <li class="selectChannel" _id="<&= channel.get('_id') &>" page="<&= Math.floor(index / 4) + 1 &>"><a><img src="/logo/<&= channel.get('name') &>" style="height: 46px;" /></a></li>
            <& }); &>
        </ul>
    </div>
</div>