<script id="RecordingsTemplate" type="text/x-jquery-tmpl">
    <div class="row">
        <div class="span10">
            <h1>
                <%= __('Recordings') %>
                <small><%= __('Plug it, play it, burn it, rip it, zip it ..') %></small>
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="span16">
            <table class="zebra-striped" id="recordingslist">
                <thead>
                    <tr>
                        <th style="width: 20px;"><input type="checkbox" id="recordingsDeleteAll" /></th>
                        <th style="width: 20px;">&nbsp;</th>
                        <th style="width: 20px;">&nbsp;</th>
                        <th style="width: 40px;"><%= __('Airdate') %></th>
                        <th style="width: 100px;"><%= __('Airtime') %></th>
                        <th><%= __('Title') %></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="RecordingEntryTemplate" type="text/x-jquery-tmpl">
    {{each recordings}}
    <tr>
        <td><input type="checkbox" number="${number}" /></td>
        <td style="cursor: pointer;" number="${number}" onmouseout="$(this).children('img').attr('src', '/img/devine/black/16x16/Recycle-Closed.png')" onmouseover="$(this).children('img').attr('src', '/img/devine/black/16x16/Recycle-Open.png')"><img name="deleteRecord" src="/img/devine/black/16x16/Recycle-Closed.png" width="16px" height="16px" title="<%= __('Delete this recording') %>" /></td>
        <td>{{if !is_new}}<img name="deleteRecord" src="/img/devine/black/16x16/Recycle.png" width="16px" height="16px" title="<%= __('This recording was allready watched') %>" />{{else}}&nbsp;{{/if}}</td>
        <td>${day}</td>
        <td>${start} - ${stop}</td>
        <td style="cursor: pointer;" number="${number}"><a>${name}</a></td>
    </tr>
    {{/each}}
</script>