<script id="SearchtimerTemplate" type="text/x-jquery-tmpl">
    <div class="row">
        <div class="span16">
            <h1>
                <%= __('Searchtimers') %>
                <small><%= __('Don\'t worry about changing airtimes anymore ..') %></small>
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="span16">
            <div class="actions" style="text-align: right">
                <button id="deleteSelectedSearchtimer" class="btn danger"><%= __('Delete selected searchtimer') %></button>
                <button id="createSearchTimer" class="btn success"><%= __('Create new searchtimer') %></button>
            </div>
            
            <table class="zebra-striped" id="searchtimerlist">
                <thead>
                    <tr>
                        <th style="width: 20px;"><input type="checkbox" id="searchtimerDeleteAll" /></th>
                        <th style="width: 20px;">&nbsp;</th>
                        <th style="width: 20px;">&nbsp;</th>
                        <th style="width: 120px;"><%= __('Channel') %></th>
                        <th style="width: 100px;"><%= __('Between') %></th>
                        <th><%= __('Search for') %></th>
                    </tr>
                </thead>
                <tbody>
                    &nbsp;
                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="SearchtimerEntryTemplate" type="text/x-jquery-tmpl">
    {{each searchtimers}}
    <tr>
        <td><input type="checkbox" /></td>
        <td style="cursor: pointer;" number="${id}" title="<%= __('Delete searchtimer') %>" onmouseout="$(this).children('img').attr('src', '/img/devine/black/16x16/Recycle-Closed.png')" onmouseover="$(this).children('img').attr('src', '/img/devine/black/16x16/Recycle-Open.png')"><img name="deleteRecord" src="/img/devine/black/16x16/Recycle-Closed.png" width="16px" height="16px" /></td>
        <td style="cursor: pointer;" number="${id}" title="<%= __('See results') %>"><img width="16px" height="16px" src="/img/devine/black/Search.png" /></td>
        <td>${channels}</td>
        <td>{{if use_time}}${start_time} - ${stop_time}{{else}}00:00 - 23:59{{/if}}</td>
        <td>${search}</td>
    </tr>
    {{/each}}
</script>