<div class="page-header">
    <h1><%- __('Installation <small>Overview</small>') %></h1>
</div>
<div class="row">
    <div class="span8">
        <h2>Introduction</h2>
        <p>
            This installation will guide you through the setup process of GUIA.
        </p>
        <p>
            There are only a view steps you have to perform to start right off!
        </p>
        <p>
            Please read the next sites carefully.
        </p>
    </div>
    <div class="span14">
        <div class="actions">
            <button class="btn primary" id="next" next="Socialize">Next step</button>
        </div>
    </div>
</div>