<div class="page-header">
    <h1><%- __('Your Channels') %></h1>
</div>
<div class="row">
    <div class="span8" style="height: 400px; overflow: auto;">
        <p>
            <%- __('Please select the channels that you want to see in GUIA.') %>
        </p>

        <table class="zebra-striped" id="channels">
            <thead>
                <tr>
                    <th style="width: 20px;">
                        #
                    </th>
                    <th style="width: 30px;">
                        <%- __('Active') %>
                    </th>
                    <th>
                        <%- __('Channel') %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span6">
        <p>
            <%- __('Set your default options for GUIA') %>
        </p>

        <form>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="epgscandelay"><%- __('Pause between epg update') %></label>
                    <div class="controls">
                        <select class="medium" name="epgscandelay" id="epgscandelay">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="fetchTmdbActors"><%- __('Fetch TMDb actors') %></label>
                    <div class="controls">
                        <input type="checkbox" id="fetchTmdbActors" checked="checked" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="fetchTmdbMovies"><%- __('Fetch TMDb movies') %></label>
                    <div class="controls">
                        <input type="checkbox" id="fetchTmdbMovies" checked="checked" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="fetchThetvdbSeasons"><%- __('Fetch thetvdb seasons') %></label>
                    <div class="controls">
                        <input type="checkbox" id="fetchThetvdbSeasons" checked="checked" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="form-actions">
            <button class="btn btn-disabled" id="previous" next="InstallView"><%- __('Back') %></button>&nbsp;<button class="btn primary disabled" id="next" next="StepOne"><%- __('Next step') %></button>
        </div>
    </div>
</div>