<div class="page-header">
    <h1><%- __('Your Channels') %></h1>
</div>
<div class="row">
    <div class="span8">
        <p>
            <%- __('Please select the channels that you\'ve want to see in GUIA.') %>
        </p>

        <table class="zebra-striped" id="channels">
            <thead>
                <tr>
                    <th style="width: 20px;">
                        #
                    </th>
                    <th style="width: 30px;">
                        <%- __('Active') %>
                    </th>
                    <th>
                        <%- __('Channel') %>
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>