<div class="page-header">
    <h1><%- __('Installation <small>Introducing GUIASocalize</small>') %></h1>
</div>
<div class="row">
    <div class="span8">
        <h2><%- __('GUIASocialize') %></h2>
        <p>
            <%- __('There are a quite few things you should know about socializing GUIA. Read this line carefully to understand what happens with you VDR, data and everything else.') %>
        </p>
        <p>
            <%- __('First of all: Your data belongs to <strong>you</strong> and not to us. Further all data will be saved and analyzed <strong>anonymously</strong>.') %>
        </p>
        <p>
            <%- __('The option to share your information is disabled per default on the next site, but we would like to see that you will enable it. This would help you and all other GUIA users.') %>
        </p>
        <h4><%- __('What kind of data will be transmitted?') %></h4>
        <ul>
            <li>
                <%- __('Number of channels') %>
            </li>
            <li>
                <%- __('Information about all channels and their order of appearance') %>
            </li>
            <li>
                <%- __('Wich channel is currently active') %>
            </li>
            <li>
                <%- __('Which timers you have and what you do with them (create, edit, delete)') %>
            </li>
            <li>
                <%- __('Recordings on your disk') %>
            </li>
        </ul>
        <h4><%- __('What features do I get?') %></h4>
        <ul>
            <li>
                <%- __('Based on your tv behavior GUIA will recommend you shows and movies') %>
                <%- __('that could be interesting for you') %>
            </li>
            <li>
                <%- __('You can recommend shows and movies to other GUIA users') %>
            </li>
            <li>
                <%- __('Make comments') %>
            </li>
            <li>
                <%- __('Rate movies, actors and shows') %>
            </li>
        </ul>
    </div>
    <div class="span14">
        <div class="actions">
            <button class="btn" id="previous" next="InstallView"><%- __('Back') %></button>&nbsp;<button class="btn primary" id="next" next="StepOne"><%- __('Next step') %></button>
        </div>
    </div>
</div>