<div class="page-header">
    <h1>Installation <small>Setup GUIA // Step 2</small></h1>
</div>
<div class="row">
    <div class="span14">
        <form>
            <fieldset>
                <legend>MySQL configuration</legend>
                <div class="clearfix">
                    <label for="xlInput">Username</label>
                    <div class="input">
                        <input type="text" size="30" id="MySQLuser" class="xlarge" />
                    </div>
                </div>

                <div class="clearfix">
                    <label for="xlInput">Password</label>
                    <div class="input">
                        <input type="password" size="30" id="MySQLpassword" class="xlarge" />
                    </div>
                </div>

                <div class="clearfix">
                    <label for="xlInput">Database</label>
                    <div class="input">
                        <input type="text" size="30" name="xlInput" id="MySQLdatabase" />
                    </div>
                </div>
                
                <div class="clearfix">
                    <label for="xlInput">Host</label>
                    <div class="input">
                        <input type="text" size="30" name="xlInput" id="MySQLhost" />
                    </div>
                </div>
                
                <div class="clearfix">
                    <label for="xlInput">Port</label>
                    <div class="input">
                        <input type="text" size="30" name="xlInput" id="MySQLport" />
                    </div>
                </div>

                <div class="actions">
                    <button class="btn" id="previous" next="StepOne">Back</button>&nbsp;<button class="btn primary" id="next" next="StepThree">Next step</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>