<div class="page-header">
    <h1>Installation <small>Finished</small></h1>
</div>
<div class="row">
    <div class="span8">
        <h2>Congratulations</h2>
        <p>
            The setup has now finisehd and you can start using GUIA.
        </p>
        <p>
            The initial import of your VDRs data has begun and may take a while.
        </p>
        <p>
            But there is no reason not to use GUIA for now, but remeber the epg
            data import is not finished yet and you may not see every channel
            filled with informations.
        </p>
        <form>
            <fieldset>
                <div class="actions">
                    <button type="submit" class="btn primary" id="next" next="GUI">Go to GUIA</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>