<div class="page-header" id="header_div" title="GUIA // <%= __('Recordings') %>">
    <h1><%- __('Recordings') %></h1>
</div>

<div class="row">
    <div class="span12 columns">
        <ul class="tabs" data-tabs="tabs">
            <li style="cursor: pointer;" data-section="Recordings"><a><%- __('Recordings') %></a></li>
            <li style="cursor: pointer;" data-section="Scheduled"><a><%- __('Scheduled') %></a></li>
            <li style="cursor: pointer;" data-section="Cutting"><a><%- __('Cutting') %></a></li>
        </ul>
    </div>
</div>

<div class="row" id="recordingssection">

</div>