<div class="page-header" id="header_div" title="GUIA // <%= __('Recordings') %>">
    <h1><%- __('Recordings <small>What\'s up today ..</small>') %></h1>
</div>
<div class="row">
<div class="span14 columns" id="recordingslist" style="overflow: auto;">
    <table class="zebra-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th><%= __('Recordings') %></th>
            </tr>
        </thead>
        <tbody>
            <& recordings.each(function (recording) { &>
                <& if (recording.has('name')) { &>
                <tr channelid="<&= recording.get('channel_id') &>" channel_name="<&= recording.get('name') &>" hasimage="<&= recording.get('image') &>" style="cursor: pointer;">
                    <td><&= recording.get('number') &></td>
                    <td><&= recording.get('name') &></td>
                </tr>
                <& } &>
            <& }); &>
        </tbody>
    </table>
</div>
</div>