<div class="page-header" id="header_div" title="GUIA // <%= __('Recordings') %>">
    <h1><%- __('Recordings <small>What\'s up today ..</small>') %></h1>
</div>
<div class="row">
<div class="span14 columns" id="recordingslist" style="overflow: auto;">
    <table class="zebra-striped bordered-table">
        <tbody>
            <& recordings.each(function (recording) { &>
                <& if (recording.has('directory') && recording.get('directory') == true) { &>
                <tr channelid="<&= recording.get('channel_id') &>" channel_name="<&= recording.get('name') &>" hasimage="<&= recording.get('image') &>" style="cursor: pointer;">
                    <td><&= recording.get('name') &><span>+</span></td>
                </tr>
                <& } else { &>
                <tr channelid="<&= recording.get('channel_id') &>" channel_name="<&= recording.get('name') &>" hasimage="<&= recording.get('image') &>" isRecording="true" style="cursor: pointer;">
                    <td><&= recording.get('name') &></td>
                </tr>
                <& } &>
            <& }); &>
        </tbody>
    </table>
</div>
</div>