nbproject
.project
.settings
.DS_Store
*~
/node_modules/*
npm-debug.log
src/data/epg.data
src/share/logos/*

textmate.tmproj

guia.tmproj

test_bak.js
.idea

src/application/frontend/plugins/Channels

src/application/frontend/plugins/Highlights

src/application/frontend/plugins/Me

src/application/frontend/plugins/Recordings

src/application/frontend/plugins/TvGuide

src/application/frontend/plugins/yaVDR
