nbproject
.project
.settings
.DS_Store
*~
/node_modules/*
npm-debug.log
src/data/epg.data
src/share/logos/*

textmate.tmproj

guia.tmproj

test_bak.js
.idea

src/application/frontend/plugins/*
!src/application/frontend/plugins/Base
!src/application/frontend/plugins/Setup

src/locales/*
!src/locales/*/ns.app.json
