<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: $('.tabs > .active').attr('href'),
            success: function (res) {
                $('#tab_content').html(res);
            }
        });

        $('.tabs > li').click(function () {
            var el = this;
            $.ajax({
                type: 'POST',
                url: $(this).attr('href'),
                success: function (res) {
                    $('.tabs > .active').removeClass('active');
                    $(el).addClass('active');
                    $('#tab_content').html(res);
                }
            });
        });
    });
</script>

<div class="page-header">
    <h1>
        <%= __('Settings') %>
        <small><%= __('Change your defaults') %></small>
    </h1>
</div>
<ul class="tabs">
    <li class="active" href="/settings/vdrmanager"><a href="#">VDRManager</a></li>
    <li href="/settings/timeline"><a href="#"><%= __('Timeline') %></a></li>
    <li href="/settings/tvguide"><a href="#"><%= __('TV Guide') %></a></li>
</ul>

<div id="tab_content">
</div>