<script type="text/javascript">
$(document).ready(function () {
    $('.alert-message').mouseover(function () {
        console.log(this.id);
    });
});
</script>
<div class="container" style="margin-top: 50px;">
    <div class="page-header">
        <h1>
            Timeline
            <small>The complete TV program always in your view</small>
        </h1>
    </div>
    
        <div class="row" style="overflow: hidden; margin-bottom: 0px;">
            <div class="span3 columns" style="white-space:nowrap; overflow: hidden;">
                <% if (channels) {
                for (i in channels) { 
                %>
                <h5 style="height: 56px;"><%= channels[i].channel.name %></h5>
                <% }} %>
            </div>
            <div class="span13 columns scrollerMother" style="overflow: auto; white-space:nowrap; position: relative;">
                <% if (channels) {
                for (i in channels) { %>
                <div>
                    <% if (channels[i].epg) {
                    channels[i].epg.events.forEach(function (broadcast) { %>
                    <div class="alert-message warning" id="<%= broadcast.id / 20 %>" title="<%= broadcast.title %>" style="cursor: pointer; width: <%= broadcast.duration / 20 %>px; position: realtive; display: inline-block; margin-left: 5px; overflow: hidden">
                        <p>
                            <%= broadcast.title %>
                        </p>
                    </div>
                    <% 
                    })
                }} %>
                </div>
                <% } %>
            </div>
        </div>
    
</div>
