<script type="text/javascipt">
    $('.alert-message')
</script>
<div class="container" style="margin-top: 50px;">
    <div class="page-header">
        <h1>
            Timeline
            <small>The complete TV program always in your view</small>
        </h1>
    </div>
    <% if (channels) {
        for (i in channels) { 
        %>
        <div class="row" style="overflow: hidden; margin-bottom: 0px;">
            <div class="span3 columns" style="white-space:nowrap; overflow: hidden;"><h5><%= channels[i].channel.name %></h5></div>
            <div class="span13 columns" style="overflow: hidden; white-space:nowrap; position: relative;">
                <% if (channels[i].epg) {
                    channels[i].epg.events.forEach(function (broadcast) { %>
                    <div id="" class="alert-message warning" style="width: <%= broadcast.duration / 20 %>px; position: realtive; display: inline-block; margin-left: 5px; overflow: hidden">
                        <p>
                            <%= broadcast.title %>
                        </p>
                    </div>
                    <% 
                    })
                } %>
            </div>
        </div>
    <%  }
    } %>
</div>
