<div class="row" id="settings">
    <div class="page-header">
        <h1>
            <%= __('Settings') %>
            <small><%= __('Change your defaults') %></small>
        </h1>
    </div>

    <ul class="tabs">
        <li class="active"><a href="#settings/vdrmanager">VDRManager</a></li>
        <li><a href="#settings/timeline"><%= __('Timeline') %></a></li>
        <li><a href="#settings/tvguide"><%= __('TV Guide') %></a></li>
    </ul>

    <div id="tab_content">
        <%- partial('settings/vdrmanager') %>
    </div>
</div>