<p style="cursor: pointer;">
    <a style="cursor: pointer;" class="showDetails" data-view="event">
        Back to description
    </a>
</p>

<div class="row">
    <div class="span9">
        <h5>Actors</h5>
        <p>
            <& _.each(cast.get('actors'), function (actor, index) { &>
        <div class="castItem" style="width: 290px; float: left; padding: 6px 0 0 0; display: block;">
                <span class="image" style="float: left; padding: 0 20px 12px 0; width: 45px; height: 61px; overflow: hidden;">
                </span>
                <span class="text" style="float: left;">
                    <strong><&= actor.name &></strong><br>
                    as <&= actor.character &>
                </span>
        </div>
        <& }); &>
        </p>
    </div>
</div>

<div class="row">
    <div class="span9">
        <& if (cast.get('crew') != null && cast.get('crew').length > 0) { &>
        <h5>Crew</h5>
        <p>
        <table>
            <& _.each(cast.get('crew'), function (director) { &>
            <tr>
                <td><&= director.job &>:</td>
                <td><a style="cursor: pointer;" class="showDetails" data-view="person" data-personid="<&= director.id &>"><&= director.name &></a></td>
            </tr>
            <& }); &>
        </table>
        </p>
        <& } &>
    </div>
</div>