<div class="page-header">
    <h1 id="title"><&= event.get('title') &> <small><&= event.get('category') &></small></h1>
    <p><&= event.get('short_description') &></p>
</div>
<div class="row">
    <div class="span4">
        <ul class="media-grid">
            <li>
                <img class="thumbnail" src="http://placehold.it/210x150" alt="" />
            </li>
            <li>
                <img class="thumbnail" src="http://placehold.it/210x150" alt="" />
            </li>
        </ul>
    </div>

    <div class="span10">
        <p>
            <&= event.get('description') &>
        </p>
    </div>
</div>