<div class="page-header" id="header_div" title="GUIA // <%= __('Program') %>">
    <h1><%- __('Program <small>What\'s up today ..</small>') %></h1>
</div>
<div class="row">
<div class="span10 columns" id="epglist">
    &nbsp;
</div>
<div class="span4 columns" id="channellist" style="overflow: auto;">
    <table class="zebra-striped"> 
        <thead>
            <tr>
                <th>#</th>
                <th><%= __('Channels') %></th>
            </tr>
        </thead>
        <tbody>
            <& _.each(channels, function (channel) { &>
                <tr channelid="<&= channel.get('channel_id') &>" channel_name="<&= channel.get('name') &>" hasimage="<&= channel.get('image') &>" style="cursor: pointer;">
                    <td><&= channel.get('number') &></td>
                    <td><&= channel.get('name') &></td>
                </tr>
            <& }); &>
        </tbody>
    </table>
</div>
</div>