<ul id='topmenu'>
    <li>
        <a class="toplinks" href="#timeline"><%= __('Timeline') %></a>
    </li>

    <li>
        <a class="toplinks" href="#tvguide"><%= __('TV Guide') %></a>
    </li>

    <li>
        <a class="toplinks" href="#program"><%= __('Program') %></a>
    </li>

    <li>
        <a class="toplinks" href="#timer"><%= __('Timer') %></a>
    </li>

    <% if (typeof(vdr.plugins.epgsearch) != 'undefined' && vdr.plugins.epgsearch == true) { %>
    <li>
        <a class="toplinks" href="#search"><%= __('Search') %></a>
    </li>

    <li>
        <a class="toplinks" href="#searchtimer"><%= __('Searchtimer') %></a>
    </li>
    <% } %>

    <li>
        <a class="toplinks" href="#records"><%= __('Records') %></a>
    </li>

    <li>
        <a class="toplinks" href="#settings"><%= __('Settings') %></a>
    </li>

    <li>
        <a class="toplinks" href="#about"><%= __('About') %></a>
    </li>

    <li>
        <a class="toplinks" href="#logout"><%= __('Logout') %></a>
    </li>
</ul>
