<script type="text/javascript">
$(document).ready(function(){
    $("body").bind("click", function (e) {
        $('a.menu').parent("li").removeClass("open");
    });

    $("a.menu").click(function (e) {
        var $li = $(this).parent("li").toggleClass('open');
        return false;
    });

    $('a.toplinks').click(function () {
        var el = this;

        $.ajax({
            type: 'POST',
            url: $(this).attr('load'),
            success: function (res) {
                if ($(el).attr('load') == '/logout') {
                    $('#topmenu').remove();
                }
                
                if ($(el).attr('load') == '/program') {
                    $.ajax({
                        type: 'POST',
                        url: '/menu/channellist',
                        success: function (channels) {
                            $('#channellist').html(channels);
                        }
                    });
                }

                $('#topmenu > li.active').removeClass('active');
                $(el).parent().addClass('active');
                $('#body').html(res);
            },
            statusCode: {
                403: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/login',
                        success: function (res) {
                            $('#topmenu').remove();
                            $('#body').html(res);
                        }
                    });
                }
            }
        });
    });
});
</script>

<ul id='topmenu'>
    <li>
        <a class="toplinks" href="#timeline" load="/timeline"><%= __('Timeline') %></a>
    </li>

    <li>
        <a class="toplinks" href="#tvguide" load="/tvguide"><%= __('TV Guide') %></a>
    </li>

    <li>
        <a class="toplinks" href="#program" load="/program"><%= __('Program') %></a>
    </li>

    <li>
        <a class="toplinks" href="#timer" load="/timer"><%= __('Timer') %></a>
    </li>

    <li>
        <a class="toplinks" href="#search" load="/search"><%= __('Search') %></a>
    </li>

    <li>
        <a class="toplinks" href="#searchtimer" load="/searchtimer"><%= __('Searchtimer') %></a>
    </li>

    <li>
        <a class="toplinks" href="#records" load="/records"><%= __('Records') %></a>
    </li>

    <li>
        <a class="toplinks" href="#settings" load="/settings"><%= __('Settings') %></a>
    </li>

    <li>
        <a class="toplinks" href="#about" load="/about"><%= __('About') %></a>
    </li>

    <li>
        <a class="toplinks" href="#logout" load="/logout"><%= __('Logout') %></a>
    </li>
</ul>
