<div class="page-header">
    <h1><%- __("About GUIA") %></h1>
</div>

<div class="row">
    <div class="span8">
        <h2><%- __("Why GUIA?") %></h2>
        <p>

        </p>
    </div>
</div>

<div class="row">
    <div class="span8">
        <h2><%- __("Donate") %></h2>
        <p>
            We have spent a lot of work to get GUIA running, so it would be very
            nice if you could donate some bugs to us. Below we give you some
            services where you can give us some money. At the same time you will
            allways have the opportunity to click the flattr button on every page
            in GUIA.
        </p>
        <p>
            PayPal - Pledgie - Flattr
        </p>
    </div>
</div>

<div class="row">
    <div class="span8">
        <h2><%- __("About me") %></h2>
        <div class="row">
            <div class="offset1 span7">
                <h5>Kersten Burkhardt</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9">
        <h2><%- __("Thanks to") %></h2>
        <div class="row">
            <div class="offset1 span7">
                <h5>MQTTClient</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>async</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span8">
                <h5>connect-assetmanager and connect-assetmanager-handlers</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>dnode</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>expressjs and ejs</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>i18n</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>mongoose</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>node-logging</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>node-uuid</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>request</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>restler</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>session-mongoose</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>socket.io</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>sprintf</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset1 span7">
                <h5>wake_on_lan</h5>
                <p>
                    I am a software developer from Hannover, Germany
                </p>
            </div>
        </div>
    </div>
</div>