<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <fieldset>
                <legend><%- t('page.title.login') %></legend>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" data-i18n="[placeholder]attr.username" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" data-i18n="[placeholder]attr.password" />
                        <p class="help-block"><%- t('help.forgotpassword') %></p>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-success" id="login"><%- t('button.login') %></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>