<div class="page-header">
    <h1 id="title"><&= person.get('name') &></h1>
</div>

<div class="row">
    <div class="span4">
        <div class="row">
            <div class="span4">
                <img src="<&= person.getProfilePicture() &>" />
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a style="cursor: pointer;">Known Movies <&= person.get('tmdbId').known_movies &></a>
            </div>
        </div>
    </div>

    <div class="span12">
        <div class="row">
            <div class="span3">
                <strong>Birthday</strong>
            </div>

            <div class="span9">
                <&= person.get('tmdbId').birthday &>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <strong>Place of Birth</strong>
            </div>

            <div class="span9">
                <&= person.get('tmdbId').birthplace &>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <strong>Biography</strong>
            </div>

            <div class="span12">
                <&= person.get('tmdbId').biography &>
            </div>
        </div>
    </div>
</div>