<div class="page-header">
    <div style="float: right;">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <img src="/logo/<&= model.get('name') &>" style="height: 10px;" /> <&= model.get('name') &>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <& _.each(channels.models, function (channel) { &>
                <li>
                    <a href="/!/Program/<&= channel.get('_id') &>" data-_id="<&= channel.get('_id') &>">
                        <img src="/logo/<&= channel.get('name') &>" style="height: 10px;" /> <&= channel.get('name') &>
                    </a>
                </li>
                <& }); &>
            </ul>
        </div>
    </div>
    <h1><%- __("Program <small><&= model.get('name') &></small>") %></h1>
</div>

<div class="row">

</div>