<form class="pull-right" style="display: none;" action="">
    <input type="text" placeholder="Search" id="search" />
    <div class="livesearch" style="display:none; width: 220px; position: absolute; padding: 0px 5px; background-color: white; margin-top: 3px; border: 1px solid #DDD; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);">
        <h5 style="border-bottom: 1px solid #DDD; clear: right">Events <p style="float:right; line-height: 37px; text-align: right;"><small><a href="/Event/">See all ...</a></small></p></h5>

        <p class="searchresult"><img src="http://cf2.imgobject.com/t/p/w185/rrXinTwrFrxWBmS4ZXegVbdRYIQ.jpg" height="40px" style="vertical-align: middle;"/> Iron Man (ProSieben HD 20:15)</p>
        <p class="searchresult"><img src="http://cf2.imgobject.com/t/p/w92/zJ2eK7fehqFSQ2w5JlQIF0OJP9q.jpg" height="40px" style="vertical-align: middle;"/> Iron Man 2 (ProSieben HD 22:25)</p>
        <p class="searchresult"><img src="http://cf2.imgobject.com/t/p/w92/vgRPlYHiottQpDav3nfw9Q1zAJJ.jpg" height="40px" style="vertical-align: middle;"/> Ironclad (RTL HD 20:15)</p>


        <h5 style="border-bottom: 1px solid #DDD; clear: right">Actors <p style="float:right; line-height: 37px; text-align: right;"><small><a href="/Event/">See all ...</a></small></p></h5>
        <p class="searchresult"><img src="http://cf2.imgobject.com/t/p/w92/xJnUYhxZYlctaR4XJ560RwDn5au.jpg" height="40px" style="vertical-align: middle;"/> <a href="/Event/">Andy Irons</a></p>
        <p class="searchresult"><img src="http://cf2.themoviedb.org/assets/2cedc4385eebe/images/no-profile-w92.jpg" height="40px" style="vertical-align: middle;"/> <a href="/Event/">Floyd Irons</a></p>
        <p class="searchresult"><img src="http://cf2.themoviedb.org/assets/2cedc4385eebe/images/no-profile-w92.jpg" height="40px" style="vertical-align: middle;"/> <a href="/Event/">Nicolas Irons</a></p>
    </div>
</form>