<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>GUIA // <%= global.title %></title>
	<meta http-equiv="content-type"
		content="text/html;charset=utf-8" />

        <!-- <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.tmpl.js"></script>

        <script type="text/javascript" src="/js/plugins/jquery.fixedcenter.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.alertmessage.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.dialog.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.overlay.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.endless-scroll.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.jgrowl.js"></script>
        
        <script type="text/javascript" src="/js/vdr/manager.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/channel.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/epg.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/recording.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/search.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/settings.js"></script>
        <script type="text/javascript" src="/js/vdr/manager/timer.js"></script>
        
        <script type="text/javascript" src="/js/app.js"></script> -->
        
        <!-- Include templates -->
        <script type="text/template" id="menu_template">
            <%- partial('../templates/menu') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/highlights') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/tvguide') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/program') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/timer') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/search') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/searchtimer') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/recordings') %>
        </script>
        
        <script type="text/template" id="menu_template">
            <%- partial('../templates/about') %>
        </script>
        
        <!-- Include socket.io -->
        <script src="/socket.io/socket.io.js"></script>
        
        <!-- Include jQuery -->
        <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
        
        <!-- Include underscore and backbone -->
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
        
        <!-- Include models -->
        <script type="text/javascript" src="/js/models/models.js"></script>
        
        <!-- Include collections -->
        <script type="text/javascript" src="/js/collections/Channels.js"></script>
        
        <!-- Include views -->
        <script type="text/javascript" src="/js/views/Menu.js"></script>
        <script type="text/javascript" src="/js/views/Program.js"></script>
        
        <!-- Include AppController -->
        <script type="text/javascript" src="/js/AppController.js"></script>
       
        <!-- Initalize GUIA -->
        <script type="text/javascript">
            $(document).ready(function () {
                window.app = AppController.initialize();
                
                Backbone.sync = function (method, model, options) {
                    var getUrl = function (object) {
                        if (!(object && object.url)) return null;
                        return _.isFunction(object.url) ? object.url() : object.url;
                    };

                    var cmd = getUrl(model).split('/'),
                        namespace = cmd[0];

                    var params = _.extend({
                        req: namespace + ':' + method
                    }, options);

                    params.data = model.toJSON() || {};

                    window.app.get('socket').emit(namespace + ':' + method, params.data, function (data) {
                        options.success(data);
                    });
                };
            });
        </script>
        
        <!-- <script type="text/template" id="search_template" src="/program"></script> -->

        <link href="/css/jquery.jgrowl.css" type="text/css" rel="stylesheet" />
        <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />

        <!-- <%- partial('authenticate') %>
        <%- partial('menu') %>

        <%- partial('highlights') %>
        <%- partial('tvguide') %>
        <%- partial('program') %>
        <%- partial('timer') %>
        <%- partial('search') %>
        <%- partial('searchtimer') %>
        <%- partial('recordings') %>
        <%- partial('about') %> -->
</head>

<body>
    <div id="menu"></div>
    
    <div class="container" style="margin-top: 50px;" id="body">

    </div>
</body>
</html>