<script type="text/javascript">
$(document).ready(function(){
    $("body").bind("click", function (e) {
        $('a.menu').parent("li").removeClass("open");
    });

    $("a.menu").click(function (e) {
        var $li = $(this).parent("li").toggleClass('open');
        return false;
    });
});
</script>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3>
                <a href="#">VDRManager</a>
            </h3>

            <ul>
                <li class="<% if (global.page == 'timeline') { %>active<% } %>">
                    <a href="/timeline">Timeline</a>
                </li>

                <li class="<% if (global.page == 'tvguide') { %>active<% } %>">
                    <a href="/tvguide">TV Guide</a>
                </li>

                <li class="<% if (global.page == 'program') { %>active<% } %>">
                    <a href="/program">Program</a>
                </li>

                <li class="<% if (global.page == 'timer') { %>active<% } %>">
                    <a href="/timer">Timer</a>
                </li>

                <li class="<% if (global.page == 'search') { %>active<% } %>">
                    <a href="/search">Search</a>
                </li>

                <li class="<% if (global.page == 'searchtimer') { %>active<% } %>">
                    <a href="/searchtimer">Searchtimer</a>
                </li>

                <li class="<% if (global.page == 'records') { %>active<% } %>">
                    <a href="/records">Records</a>
                </li>

                <li class="<% if (global.page == 'settings') { %>active<% } %>">
                    <a href="/settings">Settings</a>
                </li>

                <li class="<% if (global.page == 'about') { %>active<% } %>">
                    <a href="/about">About</a>
                </li>

                <li class="<% if (global.page == 'logout') { %>active<% } %>">
                    <a href="/logout">Logout</a>
                </li>

                <% if (global.page == 'program') { %>
                    <ul class="nav secondary-nav">
                        <li class="menu">
                            <a class="menu" href="#">Channels</a>
                            <ul class="menu-dropdown" style="height: 500px; overflow: auto;">
                                <% if (channels.length) {
                                channels.forEach(function (broadcast, i) { %>
                                    <li><a href="/program?chan=<%= i %>"><%= broadcast.name %></a></li>
                                <% })
                                }%>
                            </ul>
                        </li>
                    </ul>
                <% } %>
            </ul>
        </div>
    </div>
</div>
