<& _.each(actors, function (actor) { &>
<div class="span8" style="height: 117px; max-height: 117px;">
    <div class="row" style="cursor: pointer;" data-id="<&= actor._id &>">
        <div class="span2">
            <& console.log(actor); &>
            <& if (actor.tmdbId !== undefined && actor.tmdbId.profile.length != 0) { &>
            <img src="<&= actor.tmdbId.profile[1].image.url &>" style="width: 75px;" />
            <& } else { &>
            <img src="http://placehold.it/75x112&text=No%20Picture" style="width: 75px;" />
            <& } &>
        </div>
        <div class="span6">
            <h5><&= actor.name &></h5>
        </div>
    </div>
</div>
<& }); &>