<p>
    <%- __('Change VDR settings') %>
</p>

<form class="form-stacked">
    <fieldset>
        <div class="clearfix">
            <label for="vdrIP"><%- __('VDR IP') %></label>
            <div class="input">
                <input type="text" id="vdrIP" />
            </div>
        </div>
        
        <div class="clearfix">
            <label for="restfulPort"><%- __('restful Port') %></label>
            <div class="input">
                <input type="text" id="restfulPort" />
            </div>
        </div>
    </fieldset>
</form>

<div class="well">
    <button action="update" class="btn primary">Update</button>
</div>