<div class="page-header">
    <h1>
        About
        <small>Why this?</small>
    </h1>
</div>
<div class="row">
    <div class="span16 columns">
        <h3>Readme</h3>

        <p>VDRManger aims to be the replacement for old VDRLive.</p>
    </div>

    <div class="span16 columns">
        <h3>Developers</h3>
        <h5>Kersten Burkhardt</h5>

        <p>
            Contact: <a href="mailto:kerstenk@gmail.com">kerstenk@gmail.com</a><br />
            Website: <a href="https://github.com/kersten">https://github.com/kersten/</a>
        </p>
    </div>

    <div class="span16 columns">
        <h3>Thanks to ..</h3>

        <p>aelo and gda for their wonderful restful api</p>
        <p>the complete yavdr team for their fast help</p>
    </div>

    <div class="span16 columns">
        <h3>Features</h3>
        <p>content</p>
    </div>

    <div class="span16 columns">
        <h3>Known bugs</h3>
        <p>Crash if epgsearch plugin missing and click on search or searchtimers    </p>
    </div>
</div>