<div class="page-header">
    <h1>
        About
        <small>Why this?</small>
    </h1>
</div>
<div class="row">
    <div class="span16 columns">
        <h3>Readme</h3>
        <p>Content</p>
    </div>
    
    <div class="span16 columns">
        <h3>Developers</h3>
        <p>Content</p>
    </div>
    
    <div class="span16 columns">
        <h3>Features</h3>
        <p>content</p>
    </div>
    
    <div class="span16 columns">
        <h3>Known bugs</h3>
        <p>Your search term did not match anything ..</p>
    </div>
</div>