<div class="span14 columns">
    <p>
        <%- __('Set your default options for GUIA') %>
    </p>

    <form>
        <fieldset>
            <div class="clearfix">
                <label for="epgsyncdelay">Pause between epg update</label>
                <div class="input">
                    <select class="medium" name="epgsyncdelay" id="epgsyncdelay">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>