<& events.forEach(function (item, index) { &>
<div class="eventitem<& if (index == 0 && preloaded == false) { &> running<& } &>" style="padding: 0px; cursor: pointer;" channel_id="<&= item.get('channel') &>" event_id="<&= item.get('id') &>" timer_exists="<&= item.get('timer_exists') &>"  timer_id="<&= item.get('timer_id') &>">
    <div class="eventheader" style="position:relative; border-bottom: 1px solid #DDDDDD; overflow: hidden; white-space:nowrap;">
        <h3><&= item.get('start') &> - <&= item.get('title') &> <small><&= item.get('short_text') &> - <&= Math.round(parseInt(item.get('duration')) / 60) &> <%= __('Min.') %></small></h3>
        <& if (item.has('rating')) { &>
            <& for (var i = 0; i < item.get('rating'); i++) { &>
            <img src="/img/stars/rating_03.gif" />
            <& } &>
        <& } &>

        <div class="informationlabels" style="position: absolute; right: 15px; top: 10px;">
        <& if (item.get('timer_exists') && !item.get('timer_is_recording')) { &>
            <span class="label important timer_exists"><%= __('Timer active') %></span>
        <& } else if (item.get('timer_exists') && item.get('timer_is_recording')) { &>
            <span class="label important timer_exists timer_active"><%= __('Recording') %></span>
        <& } &>

        <& if (item.has('genretip')) { &>
            <span class="label warning"><%= __('Tipp') %></span>
        <& } &>
        </div>


            <div class="runningBarContainer">
                <div class="runningBar"></div>
            </div>

    </div>
    <div class="eventbody" style="position:relative; max-height: 100px; overflow: hidden; padding: 15px;">
        <& if (item.has('images') && item.get('images') > 0) { &>
            <img src="/events/image/<&= item.get('id') &>/0" class="eventimage first" />
        <& } &>
        <&= item.get('description') &>
        <& if (item.has('images') && item.get('images') > 1) { &>
            <& for (var i = 1; i < item.get('images'); i++) { &>
                <img class="eventimage" src="/events/image/<&= item.get('id') &>/<&= i &>" style="float:left;margin-right:5px;" />
            <& } &>
        <& } &>
        <div class="transoverlay" style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; margin: 0; padding: 40px 0; background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);"></div>
    </div>
</div>
<& }); &>
