<div class="page-header">
    <h1>
        VDRManager
        <small>Record, Edit, View</small>
    </h1>
</div>

<form method="POST" action="/login">
    <fieldset>
        <legend>Login</legend>

        <div class="clearfix">
            <label for="username">Username</label>
            <div class="input">
                <input id="username" class="xlarge" type="text" size="30" name="username" />
            </div>
        </div>

        <div class="clearfix">
            <label for="password">Password</label>
            <div class="input">
                <input id="password" class="xlarge" type="password" size="30" name="password" />
            </div>
        </div>

        <% if (err) { %>
            <div class="alert-message error">
                <p>
                    <strong>An error occurred:</strong>
                    Username or password is wrong
                </p>
           </div>
        <% } %>

        <div class="actions">
            <button class="btn primary large" type="submit">Login</button>
        </div>
    </fieldset>
</form>