<script type="text/javascript">
    $(document).ready(function () {
        $('a.channellinks').click(function () {
            $.ajax({
                type: 'POST',
                url: $(this).attr('load'),
                success: function (res) {
                    overlay.hide();
                    $('#programlist').html(res);
                },
                beforeSend: function () {
                    overlay.show();
                },
                statusCode: {
                    403: function () {
                        $.ajax({
                            type: 'POST',
                            url: '/authenticate',
                            success: function (res) {
                                $('#topmenu').remove();
                                $('#body').html(res);
                                overlay.hide();
                            }
                        });
                    }
                }
            });
        });
    });
</script>
<table class="zebra-striped">
    <thead>
        <tr>
            <th>#</th>
            <th><%= __('Channels') %></th>
        </tr>
    </thead>
    <tbody>
        <% if (channels.length) {
        channels.forEach(function (broadcast, i) { %>
        <tr>
            <td><%= ++i %></td>
            <td><a class="channellinks" href="#program" load="/program/view/<%= broadcast.channel_id %>"><%= broadcast.name %></a></td>
        </tr>
        <% })
        }%>
    </tbody>
</table>