<script id="EpgTableTemplate" type="text/x-jquery-tmpl">
    <table class="zebra-striped">
        <thead>
            <tr>
                <th style="width: 20px;">&nbsp;</th>
                <th style="width: 40px;"><%= __('Airdate') %></th>
                <th style="width: 100px;"><%= __('Airtime') %></th>
                <th><%= __('Title') %></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</script>

<script id="EpgEntryTemplate" type="text/x-jquery-tmpl">
    {{each epg}}
    <tr>
        <td style="width: 20px; text-align: center;"><img class="btn_timer" eventid="${id}" style="cursor: pointer;" src="/img/devine/black/{{if timer_exists && timer_active == true}}Circle-2.png{{else}}Circle.png{{/if}}" width="16px" height="16px" title="<%= __('Record this show') %>" /></td>
        <td>${day}</td>
        <td>${start} - ${stop}</td>
        <td style="cursor: pointer;" channelid="${channel_id}" eventid="${id}"><a>${title}</a></td>
    </tr>
    {{/each}}
</script>