<script type="text/javascript">
    $(document).ready(function () {
        $(this).attr('title', 'VDRManager // <%= __("Program") %>');

        $.ajax({
            type: 'POST',
            url: '/program/channellist',
            success: function (channels) {
                $('#channellist').css('height', $(window).height() - $('#channellist').offset().top);

                $(window).unbind('scroll');

                $(window).scroll(function (e) {
                    if ($('#channellist').offset().top <= $(window).scrollTop()) {
                        $('#channellist').css('top', $(window).scrollTop());
                        console.log($('#channellist').offset().top + ' :: ' + $(window).scrollTop());
                    }
                })

                $('#channellist').html(channels);

                $('a.channellinks').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('load'),
                        success: function (res) {
                            $('#programlist').html(res);
                            overlay.hide();
                        },
                        beforeSend: function () {
                            overlay.show();
                        },
                        statusCode: {
                            403: function () {
                                $.ajax({
                                    type: 'POST',
                                    url: '/login',
                                    success: function (res) {
                                        $('#topmenu').remove();
                                        $('#body').html(res);
                                        overlay.hide();
                                    }
                                });
                            }
                        }
                    });
                });
            }
        });
    });
</script>
<div class="page-header">
    <div class="row" id="program_header_div">
        <div class="span10">
            <h1>
                <%= __('Program') %>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span10 columns" id="programlist">
        &nbsp;
    </div>
    <div class="span6" id="channellist" style="overflow: auto;">

    </div>
</div>