<& _.each(events, function (event) { &>
<div class="span8" style="height: 117px; max-height: 117px;">
    <div class="row" style="cursor: pointer;" data-id="<&= event._id &>">
        <div class="span2">
            <& console.log(event); &>
            <& if (event.image !== undefined) { &>
                <img src="<&= event.image &>" style="width: 75px;" />
            <& } else { &>
                <img src="http://placehold.it/75x112&text=No%20Picture" style="width: 75px;" />
            <& } &>
        </div>
        <div class="span6">
            <h5><&= event.title &></h5>
            <p>
                <&= event.channel_id.name &> - <&= event.date &> <&= Math.round(event.duration / 60) &> min
            </p>
        </div>
    </div>
</div>
<& }); &>