<div class="page-header" id="header_div" title="GUIA // <%= __('Settings') %>">
    <h1><%- __('Settings <small>has something changed?</small>') %></h1>
</div>

<div class="row">
    <div class="span16 columns">
        <ul class="tabs" data-tabs="tabs">
            <li style="cursor: pointer;" data-section="Guia"><a><%- __('GUIA options') %></a></li>
            <li style="cursor: pointer;" data-section="Database"><a><%- __('GUIA Database') %></a></li>
            <li style="cursor: pointer;" data-section="Channels"><a><%- __('Channelmanager') %></a></li>
            <li style="cursor: pointer;" data-section="Social"><a><%- __('Social options') %></a></li>
            <li style="cursor: pointer;" data-section="Social"><a><%- __('VDR options') %></a></li>
        </ul>
    </div>
</div>

<div class="row" id="settingssection">

</div>