<div class="page-header" id="header_div" title="GUIA // <%= __('Settings') %>">
    <h1><%- __('Settings <small>has something changed?</small>') %></h1>
</div>

<div class="row">
    <div class="span14 columns">
        <ul class="tabs" data-tabs="tabs">
            <li class="active"><a href="#settings/guiaoptions"><%- __('GUIA options') %></a></li>
            <li><a href="#settings/database"><%- __('GUIA Database') %></a></li>
            <li><a href="#settings/channels"><%- __('Channelmanager') %></a></li>
            <li><a href="#settings/socialoptions"><%- __('Social options') %></a></li>
        </ul>
    </div>
</div>