<script id="SearchTemplate" type="text/x-jquery-tmpl">
    <div class="page-header">
    <h1>
        <%= __('Search') %>
        <small><%= __('Looking for some show?') %></small>
    </h1>
    </div>
    <div class="row">
        <div class="span16 columns" id="searchresultlist">
            <div class="well">
                <form>
                    <div class="clearfix">
                        <div class="input">
                            <input id="searchterm" class="xlarge" type="text" size="30" name="term"/>
                            <button id="submitSearch" class="btn small primary"><%= __('Search') %></button>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                        <label style="white-space: nowrap; width: 140px; text-align: left;">
                            <input id="searchSubtitle" type="checkbox" />
                            <span><%= __('Search in subtitle') %></span>
                        </label>
                        <label style="white-space: nowrap; width: 140px; text-align: left;">
                            <input id="searchDescription" type="checkbox" />
                            <span><%= __('Search in description') %></span>
                        </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script id="SearchTableTemplate" type="text/x-jquery-tmpl">
    <div class="row">
        <div class="span16 columns" id="searchresultlist">
            <table class="zebra-striped">
                <thead>
                    <tr>
                        <th style="width: 20px;">&nbsp;</th>
                        <th style="width: 40px;"><%= __('Airdate') %></th>
                        <th style="width: 100px;"><%= __('Airtime') %></th>
                        <th><%= __('Title') %></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</script>

<script id="SearchEntryTemplate" type="text/x-jquery-tmpl">
    {{each events}}
    <tr>
        <td style="width: 20px; text-align: center;" channelid="${channel_id}" eventid="${id}" title="${title}" short_text="${short_text}" start_time="${start_time}" duration="${duration}"><img class="btn_timer" style="cursor: pointer;" src="/img/devine/black/{{if timer_exists && timer_active == true}}Circle-2.png{{else}}Circle.png{{/if}}" width="16px" height="16px" title="<%= __('Record this show') %>" /></td>
        <td>${day}</td>
        <td>${start} - ${stop}</td>
        <td style="cursor: pointer;" channelid="${channel}" eventid="${id}"><a>${title}</a></td>
    </tr>
    {{/each}}
</script>

<script id="SearchResultEmptyTemplate" type="text/x-jquery-tmpl">
    <div class="row">
        <div class="span16 columns" id="searchresultlist">
            <p>
                <strong><%= __('Your search did not match anything, please try again!') %></strong>
            </p>
        </div>
    </div>
</script>